<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Audit Details</strong> 
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Username</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.username}}</p>
              </div>
            </div> 

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Transaction Id</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.appTransaction}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">URL</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.url}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Request Time</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.requestTime | date:'medium' }}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Response Time</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.responseTime | date:'medium' }}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Source IP</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.srcIp}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Target IP</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.targetIp}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Response Status</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.responseStatus}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Response Description</label>
              <div class="col-md-9">
                <p class="form-control-static">{{auditInfo.responseDesc}}</p>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">
              <strong>Transaction Logs</strong>
              </label>
             
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <textarea style="white-space: nowrap; overflow: auto;" id="textarea-input"                         
                          name="textarea-input" rows="20" wrap="soft" class="form-control" placeholder="Content.."
                          ng-list="&#10;">{{showLogs()}}</textarea>
              </div>
            </div>

          </form>
        </div>
        
        <!--
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
        -->

      </div>

    </div>

  </div>